@import "./colores";

/* servicios */

.serviciosSub{
    text-align: center;
    display: block;
    color: $turquesa;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 30px;   
    line-height: 1.3;
    margin-top: 20px; 
    margin-bottom: 20px;
    animation-name: aparece;
    animation-duration: 6s; 
}

.serviciosSub2{
    text-align: center;
    display: block;
    color: $violeta;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 30px;   
    line-height: 1.3;
    margin-top: 50px; 
}

.tituloP2 {    
    color: $mainColor;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 50px;   
    line-height: 1.3; 
    animation-name: aparece;
    animation-duration: 3s;  
}